[workspace]
members = ["common", "3", "4", "5", "6", "7", "8", "9", "10", "11"]
resolver = "2"

[workspace.lints.clippy]
all = "warn"
pedantic = "warn"
missing_errors_doc = "allow"
missing_panics_doc = "allow"
